/* Общие стили */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* Верхняя панель */
#header {
    position: fixed; /* Фиксированное положение */
    top: 0;
    left: 0;
    width: 100%; /* Полная ширина */
    background-color: #333; /* Чёрный цвет */
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10; /* Поверх остальных элементов */
}

main {
    flex: 1; /* Занимает пространство между header и nav */
    padding-top: 70px; /* Высота верхней панели */
    padding-bottom: 80px; /* Высота нижней панели */
    overflow-y: auto; /* Прокрутка, если контент превышает доступную высоту */
}

.hidden {
    display: none;
}

/* Магазин */
.shop-item {
    background: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Тень */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.shop-item:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Увеличенная тень при наведении */
}

button {
    display: block;
    margin: 20px auto;
    padding: 15px 30px;
    font-size: 18px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

/* Нижняя панель навигации */
#bottom-nav {
    position: fixed; /* Фиксированное положение */
    bottom: 0;
    left: 0;
    width: 100%; /* Полная ширина */
    background-color: #333; /* Чёрный цвет */
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    z-index: 10; /* Поверх остальных элементов */
}

.tab-button {
    background: none;
    border: none;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.9rem;
    cursor: pointer;
}

.tab-button.active {
    color: yellow;
}

.tab-button img {
    width: 24px;
    height: 24px;
    margin-bottom: 5px;
}

.tab-button span {
    font-size: 0.8rem;
}

.tab-button:hover {
    color: lightgray;
}




